<div class="modal fade" id="popupModal" role="dialog" >
    <div class="modal-dialog">
        <div class="card" style="position: relative;display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0,0,0,.125);border-radius: 0.25rem;">
            <div class="text-right cross"> <i class="fa fa-times" style="margin-right: .5rem;"></i> </div>
            <div class="card-body text-center"> <img height="150" src="{{ site['url'] }}/assets/img/modal-icon.png">
                <h4 id="modal-title">DUYURU!</h4>
                <p id="modal-content"></p>
            </div>
        </div>
    </div>
</div>

{{ footerCode }}

{% for script in scriptList %}
    <script type="text/javascript" src="{{ script }}"></script>
{% endfor %}
<script>
    function popupShow(item, index){
      $('#modal-title').html(item['baslik']);
      $('#modal-content').html(item['icerik']);
      $('#popupModal').modal('show');
  }
$.post( "/popup", function( data ) {
  data['field'].forEach(popupShow);
    
    
});
</script>
  <script type="text/javascript">
    /*Hassan Custom Script*/
    $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
    });
    if ($(window).width() < 767) {
    $('#wrapper').removeClass('toggled');
    } else {
    $('#wrapper').addClass('toggled');
    }
    $('.customerSlider').slick({
      dots: false,
      infinite: false,
      slidesToShow: 1,
      slidesToScroll: 1,
      infinite: true,
      appendArrows: $(".slider-nav"),
      nextArrow: '<button class="right-arrow"></button>',
      prevArrow: '<button class="left-arrow"></button>',
      speed: 500,
      fade: true,
      cssEase: 'linear'
    });
    $('.fb-slider').slick({
      dots: true,
      arrows:true,
      infinite: false,
      slidesToShow: 1,
      slidesToScroll: 1,
      infinite: true,
      appendArrows: $(".slider-nav2"),
      nextArrow: '<button class="right-arrow"></button>',
      prevArrow: '<button class="left-arrow"></button>',
      speed: 500,
      fade: true,
      cssEase: 'linear'
    });
    $('.yt-slider').slick({
      dots: true,
      arrows:true,
      infinite: false,
      slidesToShow: 1,
      slidesToScroll: 1,
      infinite: true,
      appendArrows: $(".slider-nav3"),
      nextArrow: '<button class="right-arrow"></button>',
      prevArrow: '<button class="left-arrow"></button>',
      speed: 500,
      fade: true,
      cssEase: 'linear'
    });
    $('.int-slider').slick({
      dots: true,
      arrows:true,
      infinite: false,
      slidesToShow: 1,
      slidesToScroll: 1,
      infinite: true,
      appendArrows: $(".slider-nav4"),
      nextArrow: '<button class="right-arrow"></button>',
      prevArrow: '<button class="left-arrow"></button>',
      speed: 500,
      fade: true,
      cssEase: 'linear'
    });
    $('.twt-slider').slick({
      dots: true,
      arrows:true,
      infinite: false,
      slidesToShow: 1,
      slidesToScroll: 1,
      infinite: true,
      appendArrows: $(".slider-nav5"),
      nextArrow: '<button class="right-arrow"></button>',
      prevArrow: '<button class="left-arrow"></button>',
      speed: 500,
      fade: true,
      cssEase: 'linear'
    });
    $('.snc-slider').slick({
      dots: true,
      arrows:true,
      infinite: false,
      slidesToShow: 1,
      slidesToScroll: 1,
      infinite: true,
      appendArrows: $(".slider-nav6"),
      nextArrow: '<button class="right-arrow"></button>',
      prevArrow: '<button class="left-arrow"></button>',
      speed: 500,
      fade: true,
      cssEase: 'linear'
    });
    $('.clientSlider').slick({
      dots: true,
      arrows: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      vertical: true,
      infinite: false
    });
	$(window).scroll(function() {
      if ($(document).scrollTop() > 100) {
        $('#guest-nav').addClass('shrink');
      } else {
        $('#guest-nav').removeClass('shrink');
      }
    });
    // for hover dropdown menu
  	$('ul.nav li.dropdown').hover(function() {
      $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
    }, function() {
      $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
    });
    
    
    <!-- For scrolling Service table -->
    $(".serNameButtons").find("a").click(function(e) {
        e.preventDefault();
        var section = $(this).attr("href");
        $("html, body").animate({
            scrollTop: $(section).offset().top
        }, 1500);
    });
    
  </script>

{% for lang in site['languages'] %}
  {% if lang['active'] %}
    <script src="https://www.google.com/recaptcha/api.js?hl={{ lang['code'] }}"></script>
  {% endif %}
{% endfor %}
  <script src="https://www.google.com/recaptcha/api.js"></script>
</body>
</html>
